* {
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  width: 100vw;
  height: 100vh;
}

.footer {
  height: 110px;
  background-color: red;
  grid-area: footer;
}

.header {
  height: 90px;
  background-color: aqua;
  grid-area: header;
}

.main {
  background-color: blueviolet;
  height: calc(100vh - 200px);
  overflow: auto;
  grid-area: main;
}
